@charset "UTF-8";
body {
    font-family: Arial, sans-serif;
    background-repeat: no-repeat;
    height: 1000px;
}


/* ------------- CSS GLOBAIS ------------- */

.imgtitulo {
    width: 18%;
    z-index: 999;
    margin-top: 2%;
}

.imgPanorama {
    width: 100%;
    padding-top: 2%;
}

.container {
    max-width: 1000px;
}


/* ---------------- MENU ---------------- */

#cabecalho {
    background-color: green;
}

#menu {
    display: flex;
    margin-top: 3%;
    margin-left: 20%;
}

.nav-pills .nav-link.active {
    color: green;
    background-color: #ffcc00;
    width: 100%;
    text-align: center;
}

a {
    color: #ffcc00;
}

a:hover {
    color: white;
    text-decoration: none;
    background-color: transparent;
}

.nav-pills .nav-link.active:hover {
    color: black;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}


/* ----------- PAGINA: INICIO -----------  */

.mainPageInicio {
    height: 2790px;
}

#carouselExampleControls {
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
    width: 100%
}

#imgTituloPrincipal {
    margin-top: 3%;
    margin-bottom: 3%;
    width: 100%;
}

.ml-auto,
.mx-auto {
    margin-left: auto!important;
    padding: -0.75rem;
    max-width: 100%;
}

.h4,
h4 {
    font-size: 1.8rem;
    text-align: center;
    padding-top: 10%;
}

.jumbotron {
    padding: 0rem 2rem;
    margin-top: 4%;
    margin-bottom: 4%;
    padding-top: 2%;
    padding-bottom: 1%;
}

.imgNoticia {
    width: 100%;
    height: 400px;
}


/* ----------- PAGINA: EMPRESA -----------  */

.mainPageEmpresa {
    height: 1710px
}

.h3Titulo {
    background-color: #ffcc00;
    padding: 2%;
    margin: 0%;
}

.pJustify {
    padding: 3%;
    text-align: justify;
}

.pCenter {
    text-align: center;
    padding: 2%;
    margin: 0%
}

.video {
    margin-top: 5%;
}

iframe {
    width: 94%;
    position: relative;
    left: 3%;
    height: 600px;
}


/* ----------- PAGINA: SERVICO -----------  */

.mainPageServico {
    height: 1570px
}

.imgServico {
    width: 100%;
    padding-top: 5%;
}

h3 {
    background-color: #ffcc00;
    padding: 2%;
    margin-top: 5%;
}


/* ----------- PAGINA: NOTICIA -----------  */

#fomulario {
    padding-top: 3%;
}

.bg-dark {
    background-color: green!important;
}

.map-container-6 {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.map-container-6 iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

div#map-container-google-11 {
    height: 440px;
}

.btn-primary {
    color: black;
    background-color: #ffcc00;
    border-color: green;
}

.btn-primary:hover {
    color: black;
    background-color: #ffcc00;
    border-color: #ffcc00;
}


/* ----------- PAGINA: LOGIN -----------  */

.mainPageLogin {
    height: 770px;
}

.pageLogin {
    width: 35%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15%;
}


/* --------------- SISTEMA ---------------  */

.sistemaInicio {
    height: 950px;
    margin-top: 5%;
}

.sistemaEstoque {
    height: 950px;
    margin-top: 5%;
}

.tituloSistema {
    font-size: 2.8rem;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 2%;
}

.sistemaMenu {
    text-align: center;
    display: block;
    padding: .5rem 1rem;
    color: green;
    background-color: #ffcc00;
}

.sistemaMenu:hover {
    display: block;
    text-align: center;
    background-color: #ffcc00;
    padding: .5rem 1rem;
}

.iconMenu {
    width: 75%;
    margin-top: 10%;
    margin-bottom: 10%;
}


.sistemaCliente {
    height: 950px;
    margin-top: 5%;
}

.formularioCliente {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}


/* ----------- PAGINA: RODAPÉ -----------  */

footer#rodape {
    background-color: green;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

footer#rodape p {
    color: #ffcc00;
    text-align: center;
    padding: 20px;
    margin: 10px;
    right: 1000px;
}

/* -------------CSS: LOGUIN --------------- */

.red{
    color: #ff0019;
    animation-name: treme;
    animation-duration: 80ms;
    animation-iteration-count: 4;
  }


  @keyframes treme {
    0% {margin-left: 0;}
    25% {margin-left: 5px;}
    50% {margin-left: 0;}
    75% {margin-left: -5px;}
    100% {margin-left: 0;}
  }