@charset "UTF-8";
body {
    font-family: Arial, sans-serif;
    background-repeat: no-repeat;
    height: 1000px;
}


/* ------------- CSS GLOBAIS ------------- */

.imgtitulo {
    width: 18%;
    z-index: 999;
    margin-top: 2%;
}

.imgPanorama {
    width: 100%;
    padding-top: 2%;
}

.container {
    max-width: 1000px;
}


/* ---------------- MENU ---------------- */

#cabecalho {
    background-color: green;
}

#menu {
    display: flex;
    margin-top: 3%;
    margin-left: 20%;
}

.nav-pills .nav-link.active {
    color: green;
    background-color: #ffcc00;
    width: 100%;
    text-align: center;
}

a {
    color: #ffcc00;
}

a:hover {
    color: white;
    text-decoration: none;
    background-color: transparent;
}

.nav-pills .nav-link.active:hover {
    color: black;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}


/* ----------- PAGINA: INICIO -----------  */

.mainPageInicio {
    height: 2790px;
}

#carouselExampleControls {
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
    width: 100%
}

#imgTituloPrincipal {
    margin-top: 3%;
    margin-bottom: 3%;
    width: 100%;
}

.ml-auto,
.mx-auto {
    margin-left: auto!important;
    padding: -0.75rem;
    max-width: 100%;
}

.h4,
h4 {
    font-size: 1.8rem;
    text-align: center;
    padding-top: 10%;
}

.jumbotron {
    padding: 0rem 2rem;
    margin-top: 4%;
    margin-bottom: 4%;
    padding-top: 2%;
    padding-bottom: 1%;
}

.imgNoticia {
    width: 100%;
    height: 400px;
}


/* ----------- PAGINA: EMPRESA -----------  */

.mainPageEmpresa {
    height: 1710px
}

.h3Titulo {
    background-color: #ffcc00;
    padding: 2%;
    margin: 0%;
}

.pJustify {
    padding: 3%;
    text-align: justify;
}

.pCenter {
    text-align: center;
    padding: 2%;
    margin: 0%
}

.video {
    margin-top: 5%;
}

iframe {
    width: 94%;
    position: relative;
    left: 3%;
    height: 600px;
}


/* ----------- PAGINA: SERVICO -----------  */

.mainPageServico {
    height: 1570px
}

.imgServico {
    width: 100%;
    padding-top: 5%;
}

h3 {
    background-color: #ffcc00;
    padding: 2%;
    margin-top: 5%;
}


/* ----------- PAGINA: NOTICIA -----------  */

#fomulario {
    padding-top: 3%;
}

.bg-dark {
    background-color: green!important;
}

.map-container-6 {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.map-container-6 iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

div#map-container-google-11 {
    height: 440px;
}

.btn-primary {
    color: black;
    background-color: #ffcc00;
    border-color: green;
}

.btn-primary:hover {
    color: black;
    background-color: #ffcc00;
    border-color: #ffcc00;
}


/* ----------- PAGINA: LOGIN -----------  */

.mainPageLogin {
    height: 770px;
}

.pageLogin {
    width: 35%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15%;
}


/* --------------- SISTEMA ---------------  */

.sistemaInicio {
    height: 950px;
    margin-top: 5%;
}

.sistemaEstoque {
    height: auto;
    margin-top: 5%;
}

.tituloSistema {
    font-size: 2.8rem;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 2%;
}

.sistemaMenu {
    text-align: center;
    display: block;
    padding: .5rem 1rem;
    color: green;
    background-color: #ffcc00;
}

.sistemaMenu:hover {
    display: block;
    text-align: center;
    background-color: #ffcc00;
    padding: .5rem 1rem;
}

.iconMenu {
    width: 75%;
    margin-top: 10%;
    margin-bottom: 10%;
}


.sistemaCliente {
    height: 950px;
    margin-top: 5%;
}

.formularioCliente {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}


/* ----------- PAGINA: RODAPÉ -----------  */

footer#rodape {
    background-color: green;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

footer#rodape p {
    color: #ffcc00;
    text-align: center;
    padding: 20px;
    margin: 10px;
    right: 1000px;
}

/* -------------CSS: LOGUIN --------------- */

.red{
    color: #ff0019;
    animation-name: treme;
    animation-duration: 80ms;
    animation-iteration-count: 4;
  }


  @keyframes treme {
    0% {margin-left: 0;}
    25% {margin-left: 5px;}
    50% {margin-left: 0;}
    75% {margin-left: -5px;}
    100% {margin-left: 0;}
  }

  
  .modal-open {
    overflow: hidden;
  }
  
  .modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
  }
  
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 0;
  }
  
  .modal-dialog {
    position: relative;
    width: auto;
    margin: 0.5rem;
    pointer-events: none;
  }
  
  .modal.fade .modal-dialog {
    transition: -webkit-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
    -webkit-transform: translate(0, -50px);
    transform: translate(0, -50px);
  }
  
  @media (prefers-reduced-motion: reduce) {
    .modal.fade .modal-dialog {
      transition: none;
    }
  }
  
  .modal.show .modal-dialog {
    -webkit-transform: none;
    transform: none;
  }
  
  .modal-dialog-scrollable {
    display: -ms-flexbox;
    display: flex;
    max-height: calc(100% - 1rem);
  }
  
  .modal-dialog-scrollable .modal-content {
    max-height: calc(100vh - 1rem);
    overflow: hidden;
  }
  
  .modal-dialog-scrollable .modal-header,
  .modal-dialog-scrollable .modal-footer {
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }
  
  .modal-dialog-scrollable .modal-body {
    overflow-y: auto;
  }
  
  .modal-dialog-centered {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    min-height: calc(100% - 1rem);
  }
  
  .modal-dialog-centered::before {
    display: block;
    height: calc(100vh - 1rem);
    content: "";
  }
  
  .modal-dialog-centered.modal-dialog-scrollable {
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    height: 100%;
  }
  
  .modal-dialog-centered.modal-dialog-scrollable .modal-content {
    max-height: none;
  }
  
  .modal-dialog-centered.modal-dialog-scrollable::before {
    content: none;
  }
  
  .modal-content {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.3rem;
    outline: 0;
  }
  
  .modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100vw;
    height: 100vh;
    background-color: #000;
  }
  
  .modal-backdrop.fade {
    opacity: 0;
  }
  
  .modal-backdrop.show {
    opacity: 0.5;
  }
  
  .modal-header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1rem 1rem;
    border-bottom: 1px solid #dee2e6;
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
  }
  
  .modal-header .close {
    padding: 1rem 1rem;
    margin: -1rem -1rem -1rem auto;
  }
  
  .modal-title {
    margin-bottom: 0;
    line-height: 1.5;
  }
  
  .modal-body {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1rem;
  }
  
  .modal-footer {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 1rem;
    border-top: 1px solid #dee2e6;
    border-bottom-right-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;
  }
  
  .modal-footer > :not(:first-child) {
    margin-left: .25rem;
  }
  
  .modal-footer > :not(:last-child) {
    margin-right: .25rem;
  }
  
  .modal-scrollbar-measure {
    position: absolute;
    top: -9999px;
    width: 50px;
    height: 50px;
    overflow: scroll;
  }
  
  @media (min-width: 576px) {
    .modal-dialog {
      max-width: 500px;
      margin: 1.75rem auto;
    }
    .modal-dialog-scrollable {
      max-height: calc(100% - 3.5rem);
    }
    .modal-dialog-scrollable .modal-content {
      max-height: calc(100vh - 3.5rem);
    }
    .modal-dialog-centered {
      min-height: calc(100% - 3.5rem);
    }
    .modal-dialog-centered::before {
      height: calc(100vh - 3.5rem);
    }
    .modal-sm {
      max-width: 300px;
    }
  }
  
  @media (min-width: 992px) {
    .modal-lg,
    .modal-xl {
      max-width: 800px;
    }
  }
  
  @media (min-width: 1200px) {
    .modal-xl {
      max-width: 1140px;
    }
  }
  